*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { background-image:url(../Img/Fundo.jpg); 
    background-size: auto 100vh;
    font-family:Arial;
    font-size: 10px;
    height:100vh;
  }
/*Se a tela tiver pelo menos 400px vai carregar*/
@media (min-width:400px) {
  body{
    font-size: 14px;
  }
}
header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  background-color:White;
  position: fixed;
  top: 0;
  width: 100vw;
}
.menu ul{
  display:flex;
  justify-content:space-around;
}
.menu li{
  list-style:none;
}
.menu a{
  display: block;
  padding: 10px 15px;
}
a{
  color:teal;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
.site-subtitle,.site-title{
  color:whitesmoke;
  text-align:center;
}
.suite-subtile{
  font-style:italic;
}
  